/*@font-face {
  font-family: LucidaGrande;
  src: url('6216.tff');
}*/

body {
  font-family: "Lucida Grande";
}

div {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  /*overflow: hidden;*/
}

#container {
	background-color: #e9e9e9;
	width: 620px;
	height: 720px;
	padding: 0 10px;
	border-left: 1px solid #cfcfcf;
  margin: 15px 8px;
  position: relative;
}

table {
  border-spacing: 0;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  margin-left: 25px;
}

td.time {
	vertical-align: middle;
	color: #686868;
	height: 28px;
	text-align: right;
  white-space: nowrap;
  margin-left: 40px;
  font-size: .8em;
  font-weight: bold;
}

tr:nth-child(even) .time, span {
  font-size: .5em;
  color: #aaaaaa;
  font-weight: normal;
}

tr:nth-child(even) .time > span {
  display: none;
}

.event {
  line-height: 10px;
  background-color: white;
  border: 1px solid #cfcfcf;
  border-left: 0;
  position: absolute; 
  padding-left: 10px;
}

/* add blue border on the left of each event */
.event:before{
  display: block;
  border: 4px solid #4d6fa7;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  content: '';
  top: -1px;
  bottom: -1px;
  left: 0;
  position: absolute;
}

/* text overflow is handled similar to Google Calendar, except with vertical scrolling to view all of the text */
.scroll {
  height: 100%;
  overflow-y: auto;
  word-break: break-all;
  margin: 0px 6px 0 0;
  padding: 4px 0;
}

span.item {
  font-weight: bold;
  font-size: 11px;
  /* this color is slightly lighter than the usual Facebook blue -- the text in the specification image appears slightly lighter than the left border */
  color: #5981c2;
}

span.loc {
  line-height: 4px;
  color: #797979;
  font-size: 8.2px;
}